<div class="example-container">
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        Bienvenido a Consulta
        <mat-list role="list">
          <mat-list-item role="listitem">Su dinero actual es de ${{ saldo }} pesos </mat-list-item>
          <br>
          <br>
          <button routerLink="/menu" mat-button>regresar <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></button>
        </mat-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>