<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>

      Bienvenido a su Banco Srpg2060
      <br> 
      ¿Que desea hacer?
      <br>
      <br>
      <button mat-button routerLink="/consulta">Consultar <i class="material-icons">
          search
        </i></button>
      <br>
      <br>
      <button mat-button routerLink="/consignar">Consignar <i class="material-icons">
          attach_money
        </i></button>
      <br>
      <br>
      <button mat-button routerLink="/retiro">Retirar <i class="material-icons">
          money_off
        </i></button>

    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>