<div class="example-container">
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        Digite el valor que desea retirar
        <br>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Retiro</mat-label>
          <input matInput type="number" placeholder="monto a retirar" [formControl]="retiro">
        </mat-form-field>
        <br>
        <button (click)="Retirar()" mat-button>Retirar</button>
        <button routerLink="/menu" mat-button>Regresar <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></button>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-tile>
  </mat-grid-tile>
</div>